        body {
		  padding-top: 50px;
		}
		
		.map_container {
		  padding: 40px 15px;
		  text-align: center;
		  overflow: hidden;
		  border-radius: 17px;
		  width: 800px;
		  height: 550px;
		  float: left;
		}
		
		#map{
		  height: 550px;
		  width: 800px;
		}
		
		#reset{
		position: absolute;
		top: 88%;
		left: 10%;
		height: 25px;
		border-radius: 5px;
		color: #ffffff;
		border: 0px solid white;
		background: -webkit-linear-gradient(180deg, #FF820D, #FF310D); /* For Safari 5.1 to 6.0 */
  		background: -moz-linear-gradient(180deg, #FF820D, #FF310D); /* For Firefox 3.6 to 15 */
  		background: linear-gradient(180deg, #FF820D, #FF310D); /* Standard syntax */
		font-weight: bold;		
		}
		
		#reset:hover {
		background: -webkit-linear-gradient(180deg, #FF310D, #FF820D); /* For Safari 5.1 to 6.0 */
  		background: -moz-linear-gradient(180deg, #FF310D, #FF820D); /* For Firefox 3.6 to 15 */
  		background: linear-gradient(180deg, #FF310D, #FF820D); /* Standard syntax */
		}
		
		.logo {
		display: relative;
		width: 100px;
		margin-left: 10px;
		margin-top: 3px;
		float: left;
		margin-right: 30px;
		}
		
		#uberlogo {
		max-width: 100%;
		max-height: 100%;
		}
		
		.daynavcontainer {
		display: absolute;
		background-color: #ffffff;
		z-index: 1000;
		height: 40px;
		left: 55%;
		top: 20%;
		border: 0 solid white;
		}
		
		#timenavcontainer {
		display: absolute;
		background-color: #ffffff;
		z-index: 1000;
		height: 40px;
		left: 25%;
		top: 80%;
		border: 0 solid white;
		}
		
		#daynav, #timenav {
		max-width: 100%;
		max-height: 100%;
		}
		
		.data{
		float: left;
		text-align:center;
		margin-top:10%;
		margin-left:5%;
		font-size:24px;
		color:#009900;
		border: 2px solid #009900;
		}
		
		#amt {
		font-size: 36px;
		}
		
		ul {
		list-style-type: none;
		text-align: center;
		margin-right: 20px;	
		}
		
		#sidebar {
		display: none;
		}
		
		.list {
		left: -10%;
		}