/*CSS*/

@font-face {
	font-family: 'proximaNova';
	src: url('../fonts/proximanova-thin-webfont-webfont.tff' format('truetype'));
	font-weight: normal;
	font-style: normal;

}

body {

	font-family: 'proximaNova', Helvetica, Sans-Serif;
	margin: 0;
	padding: 0;
	background: #bdc3c7;
	overflow-x: hidden;
	overflow-y: hidden;

}

::-webkit-scrollbar { 
    display: none; 
}


#friendsupdatestopbar {

	position: absolute;
	height: 50px;
	width: 100%;
	background: #068D9D;
	

}

#friendstab, #updatestab {

	position: absolute;
	width: 85px;
	height: 30px;
	top: 10px;
	line-height: 27px;
	font-size: 16px;
	border: 1px solid white;
	text-align: center;
	background: white;
	color: #068D9D;

}

#friendstab {

	left: 50%;
	margin-left: -85px;
	border-right: 1px solid #ffffff;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;


}

#updatestab {

	left: 50%;
	border-left: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #068D9D;
	color: white;

}

#friendspanel {

	position: absolute;
	top: 50px;
	width: 100%;
	height: 468px;
	background: #ecf0f1;
	overflow-y: scroll;
	z-index: 99999;
}

#addfriend {

	position: relative;
	float: right;
	height: 40px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
	font-size: 14px;
}

.friend {

	position: relative;
	width: 100%;
	height: 60px;
	margin-top: 30px;
	clear: both;
	line-height: 30px;

}


.smallcategoryicon, .friendavatar {

	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	left: 30px;
	background: none;
}

.friendavatar {

	background: #ffffff;

}

.friendinfo {

	position: absolute;
	width: 128px;
	left: 90px;
	margin-top: -3px;
	font-size: 13px;

}

.friendname {

	font-size: 15px;

}

.woot {

	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	line-height: 50px;
	text-align: center;
	left: 240px;
	font-size: 12px;
	font-weight: 600;
	color: white;
	background: #AB59AB;

}

#wootalert {

	position: fixed;
	z-index: 999999;
	width: 0;
	height: 0;
	background: #AB59AB;
	color: white;
	font-size: 20px;
	font-weight: 500;
	line-height: 70px;
	text-align: center;
	border: 2px solid white;
	border-radius: 10px;
	left: 160px;
	top: 140px;
	visibility: hidden;
}

#updatespanel {

	position: absolute;
	top: 50px;
	width: 100%;
	height: 468px;
	background: #ecf0f1;
	overflow-y: scroll;
	z-index: 100000;
}

#updatesheader {

	position: absolute;
	width: 120px;
	height: 40px;
	left: 50%;
	margin-left: -60px;
	top: 0px;
	margin-top: 5px;
	margin-right: 20px;
	margin-bottom: 10px;
	font-size: 14px;
}

.challenge {

	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	line-height: 50px;
	text-align: center;
	left: 240px;
	font-size: 20px;
	font-weight: 500;
	color: white;
	background: #AB59AB;

}


