<!DOCTYPE html>
<meta charset="utf-8" name="viewport" content="initial-scale=1.0, user-scalable=no">
<head>


<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/fonts.css">
<link rel="stylesheet" href="css/style.css"/>
<link rel="stylesheet" href="css/analytics.css"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>
<body>

	<div id='analyticstopheader'>ANALYTICS</div>

	<div id='chartcarousel'>
		
		<div class='chart' id='chart1'>

			<img src='../images/spendingpiechart.png'>

		</div>

		<div class='chart' id='chart2'>

			<img src='../images/categorieschart.png'>

		</div>

		<div class='chart' id='chart3'>

			<img src='../images/monthlysavingschart.png'>

		</div>

		<div class='chart' id='chart4'>

			<img src='../images/donutchart.png'>

		</div>

	</div>


	

    <div class='btnbar'>
        
	    <button class='navbutton' id='navbutton1'>1</button>

	    <button class='navbutton' id='navbutton2'>2</button>

	    <button class='navbutton' id='navbutton3'>3</button>

	    <button class='navbutton' id='navbutton4'>4</button>

    </div>

    <script>
	$(document).ready(function(){
	    
	        $("#chartcarousel").scrollLeft(290);

	 });
	</script>

    <script src="js/interaction.js"></script>

</body>