<!DOCTYPE html>
<meta charset="utf-8" name="viewport" content="initial-scale=1.0, user-scalable=no">
<head>


<link rel="stylesheet" href="static/css/bootstrap.min.css" />
<link rel="stylesheet" href="static/css/fonts.css">
<link rel="stylesheet" href="static/css/style.css"/>
<link rel="stylesheet" href="static/css/dashboard.css"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>
<body>

	<div id='dashboardtopheader'>DASHBOARD</div>

	<div id='mychallengesheader'>MY CHALLENGES</div>

	<div id='challengecarousel'>
		
		<div class='activechallenge' id='challenge0'>

			<div class='challengename'>Beer Buster</div>

			<div class='categoryicon'><img src='../static/images/beericonmed.png'></div>

			<div class='moneysaved'>$230 Saved!</div>

			<div class='dayscompleted'></div>

			<div class='daysremaining0'>challenge<br>complete!</div>

			<div class='woots'>16 Woots!</div>

		</div>

		<div class='activechallenge' id='challenge1'>

			<div class='challengename'>Sans Sushi</div>

			<div class='categoryicon'><img src='../static/images/foodiconmed.png'></div>

			<div class='moneysaved'>$36 Saved!</div>

			<div class='dayscompleted'>16</div>

			<div class='daysremaining'>of 30 days<br>complete!</div>

			<div class='woots'>5 Woots!</div>

		</div>

		<div class='activechallenge' id='challenge2'>

			<div class='challengename'>Boba No!</div>

			<div class='categoryicon'><img src='../static/images/sodaiconmed.png'></div>

			<div class='moneysaved'>$27 Saved!</div>

			<div class='dayscompleted'>21</div>

			<div class='daysremaining'>of 30 days<br>complete!</div>

			<div class='woots'>11 Woots!</div>

		</div>

		<div class='activechallenge' id='challenge3'>

			<div class='challengename'>No Clothes March</div>

			<div class='categoryicon'><img src='../static/images/shirticonmed.png'></div>

			<div class='moneysaved'>$120 Saved!</div>

			<div class='dayscompleted'>28</div>

			<div class='daysremaining'>of 30 days<br>complete!</div>

			<div class='woots'>13 Woots!</div>

		</div>

	</div>


	<div id='totalsavings'>
		
		<div id='savingstext'>Total Savings:</div>

		<div id='savingsamount'>$537</div>

	</div>


	<div id='debtreduction'>
		
		<div id='debttext'>Total Debt Reduction:</div>

		<div id='debtamount'>$232</div>

	</div>

	

    <div class='btnbar'>
      
       <button class='navbutton' id='navbutton1'><img src='../static/images/icons_home_dashboard.png'></button>

       <button class='navbutton' id='navbutton2'><img src='../static/images/icons_home_analytics.png'></button>

       <button class='navbutton' id='navbutton3'><img src='../static/images/icons_home_friends.png'></button>

       <button class='navbutton' id='navbutton4'><img src='../static/images/icons_home_challenges.png'></button>

  </div>

    <script>
	$(document).ready(function(){
	    
	        // $("#challengecarousel").scrollLeft(195);

	 });
	</script>

    <script src="../static/js/interaction.js"></script>

</body>