<!DOCTYPE html>
<meta charset="utf-8" name="viewport" content="initial-scale=1.0, user-scalable=no">
<head>


<link rel="stylesheet" href="static/css/bootstrap.min.css" />
<link rel="stylesheet" href="static/css/fonts.css">
<link rel='stylesheet' href='static/css/style.css'>
<link rel="stylesheet" href="static/css/friendsupdates.css" />



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>
<body>


	<div id='friendsupdatestopbar'>
		
		<div id='friendstab'>UPDATES</div>

		<div id='updatestab'>FRIENDS</div>

	</div>

	<div id='wootalert'>woot sent!</div>

	<div id='friendspanel'>

		<div id='updatesheader'>- recent updates -</div>

		<div class='friend'>
				
			<div class='smallcategoryicon'><img src='../static/images/foodicon.png'></div>
			<div class='friendinfo'><span class='friendname'>Stacey Baradit</span><br>Halfway there!</div>
			<div class='woot'>woot!</div>

		</div>

		<div class='friend'>
				
			<div class='smallcategoryicon'><img src='../static/images/beericon.png'></div>
			<div class='friendinfo'><span class='friendname'>Alex Jones</span><br>10 days to go!</div>
			<div class='woot'>woot!</div>

		</div>

		<div class='friend'>
				
			<div class='smallcategoryicon'><img src='../static/images/planeicon.png'></div>
			<div class='friendinfo'><span class='friendname'>Ashwini Sriram</span><br>Challenge complete!</div>
			<div class='woot'>woot!</div>

		</div>

		<div class='friend'>
				
			<div class='smallcategoryicon'><img src='../static/images/shirticon.png'></div>
			<div class='friendinfo'><span class='friendname'>Arezu Aghaseyedjavadi</span><br>5 Days to Go!</div>
			<div class='woot'>woot!</div>

		</div>

		<div class='friend'>
				
			<div class='smallcategoryicon'><img src='../static/images/beericon.png'></div>
			<div class='friendinfo'><span class='friendname'>Sindhuja Jeyabal</span><br>1 day left!</div>
			<div class='woot'>woot!</div>

		</div>

		<div class='friend'>
				
			<div class='smallcategoryicon'><img src='../static/images/foodicon.png'></div>
			<div class='friendinfo'><span class='friendname'>Aditya Mishra</span><br>First day!</div>
			<div class='woot'>woot!</div>

		</div>

	</div>

	<div id='updatespanel'>
		
		<div id='addfriend'>ADD A FRIEND  +</div>

		<div class='friend'>
				
			<div class='friendavatar'><img src='../static/images/girlicon.png'></div>
			<div class='friendinfo'><span class='friendname'>Stacey Baradit</span><br>1 active challenge</div>
			<div class='challenge'>+</div>
			
		</div>

		<div class='friend'>
				
			<div class='friendavatar' id=''><img src='../static/images/boyicon.png'></div>
			<div class='friendinfo'><span class='friendname'>Alex Jones</span><br>2 active challenges</div>
			<div class='challenge'>+</div>

		</div>

		<div class='friend'>
				
			<div class='friendavatar'><img src='../static/images/girlicon.png'></div>
			<div class='friendinfo'><span class='friendname'>Ashwini Sriram</span><br>no active challenges</div>
			<div class='challenge'>+</div>

		</div>

		<div class='friend'>
				
			<div class='friendavatar'><img src='../static/images/girlicon.png'></div>
			<div class='friendinfo'><span class='friendname'>Arezu Aghaseyedjavadi</span><br>1 active challenge</div>
			<div class='challenge'>+</div>

		</div>

		<div class='friend'>
				
			<div class='friendavatar'><img src='../static/images/girlicon.png'></div>
			<div class='friendinfo'><span class='friendname'>Sindhuja Jeyabal</span><br>3 active challenges</div>
			<div class='challenge'>+</div>

		</div>

		<div class='friend'>
				
			<div class='friendavatar'><img src='../static/images/boyicon.png'></div>
			<div class='friendinfo'><span class='friendname'>Aditya Mishra</span><br>1 active challenge</div>
			<div class='challenge'>+</div>

		</div>

	</div>
	

    <div class='btnbar'>
      
       <button class='navbutton' id='navbutton1'><img src='../static/images/icons_home_dashboard.png'></button>

       <button class='navbutton' id='navbutton2'><img src='../static/images/icons_home_analytics.png'></button>

       <button class='navbutton' id='navbutton3'><img src='../static/images/icons_home_friends.png'></button>

       <button class='navbutton' id='navbutton4'><img src='../static/images/icons_home_challenges.png'></button>

  </div>

    <script src="../static/js/interaction.js"></script>

</body>