<!DOCTYPE html>
<html>
<head>
    <title>Swoop</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <link rel="stylesheet" href="/static/css/leaflet-label.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<link rel='stylesheet' href='/static/css/mapbox.directions.css' type='text/css' />	

	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />

	<link rel='stylesheet' href='/static/css/evdex.css' type='text/css' />

	<!-- <link href='http://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'> -->
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>


</head>

<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="navbarcontainer">
			<div class="navbar-header">
	          	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          	</button>
	         	<a class="navbar-brand" href="/landing"><img id="swoopLogo" src="/static/css/swoop-logo.png"></img></a>
        	</div>
        	<div class="collapse navbar-collapse">
	          	<ul class="nav navbar-nav">
	            <li class="active"><a href="#">Home</a></li>
	            <li><a href="analytics">Dashboard</a></li>
	            <li><a id="markers">Markers</a></li>
	            <li><a href="contact">Contact</a></li>
          		</ul>
        	</div>
		</div>
	</div>
	
	
	

	<div class="container">
		
		<div class="navcontainer">
			<div id="daysbox"></div>
			<button class="daynavcontainer"><img id="leftArrow" src="/static/leftArrow.png"</img></button>

			<p class="daynavcontainer" id="dayofweek"></p>


			<button class="daynavcontainer"><img id="rightArrow" src="/static/rightArrow.png"</img></button>

		</div>

			<!--<button class="daynavcontainer"><img id="daynav" src="/static/devexDayNav.png"</img></button>-->




		<div class="buttoncontainer">	
			
			<div id="map"></div>

			<div id='inputs'></div>
			<div id='errors'></div>
			<div id='directions'>
			  <div id='routes'></div>
			  <div id='instructions'></div>
			</div>


				
		</div>
		
		<div id="bottomcontainer">

		<div id="bottombox"></div>

		<button class="button" id="reset">now</button>

		<div id="eventinfo">
			
			<ol id="eventInfoList">
			</ol>

		</div>

		<!-- uncomment this button and comment out the one below it for waze/gmaps target-->
		<button class="button" id="nav">
			<img id='navimage' src='/static/css/navbutton.png'>
    		<a href="" target="_blank" id="navInner"></a>
		</button>

		<!--<button class="button" id="nav">
		<img id='navimage' src='/static/css/navbutton.png'>
    		
		</button>  -->

		<!--<button class="button" id="nav">NAV</button>-->

		<div data-role="main" class="timenavcontainer" id="slider">
		    <form method="post" action="demoform.asp">
		      <label for="points" id="timenavtime"></label>
		      <input type="range" class="bar" name="points" id="selectedTime" value="0" min="0" max="23.5" step=".5">
		    </form>
		</div>

		</div>
			
			
		</div>
	</div>

	<div id="farePanel">
		
		<button id="startFareButton">START<br>FARE</button>

		<button class="fareButton" id="cancelFareButton">cancel</button>

		<button id="stopFareButton">STOP<br>FARE</button>

		<span id="completedFareText"></span>

		<span id="selectedService"></span>

		<span id="investmentText"></span>

		<select id="serviceSelect">

			<option value="NA">select service</option>
			
			<option value="Uber">Uber</option>

			<option value="Lyft">Lyft</option>

			<option value="SideCar">SideCar</option>

			<option value="Flywheel">Flywheel</option>

		</select>

		<button class="fareButton" id="serviceSkipButton">skip</button>

		<div id="fareInput">

			<button id="fareMinus">-</button>

			<span id="fareText"></span>

			<button id="farePlus">+</button>

		</div>

		<button class="fareButton" id="acceptFare">Accept Fare</button>

		<button class="fareButton" id="fareSkip">skip</button>

		<button class="fareButton" id="fareBack">back</button>

	</div>

	


		
	</div>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

	<script src="/static/mapbox.js"></script>

	<script src="/static/mapboxDirections.js"></script>

	<script src="http://leaflet.github.io/Leaflet.heat/dist/leaflet-heat.js"></script>

	<script src="/static/leaflet-label.js"></script>

	<script src="/static/leaflet2.js"></script>
	
</body>
</html>