<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	
	<title>Pigly</title>

	<link rel="shortcut icon" href="assets/images/gt_favicon.png">
	
	<!-- Bootstrap itself -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<!-- Custom styles -->
	<!-- <link rel="stylesheet" href="assets/css/magister.css"> -->

	<!-- Fonts -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
</head>

<body>
	<div id="login">
		<p id="login_caption"> </p>
		<button id="login_next"> FIN OVERVIEW</button>
	</div>
	<div id="fin_overview" style="display:none">
		<button id="fin_overview_back"> BACK</button>
		<h2> YOUR FINANCIAL OVERVIEW </h2>
		<div id="fin_overview_accounts"> </div>
		<p id="fin_overview_total_balance"></p>
	</div>
	<div id="challenges" style="display:none">
		<h2> YOUR CHALLENGES </h2>
	</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="../static/js/requests.js"></script>

</html>