<!DOCTYPE html>
<html>
<meta charset="utf-8" name="viewport" content="initial-scale=1.0, user-scalable=no">
<head>
<link href="bootstrap.css" rel="stylesheet">
<link href="static/css/select_challenge.css" rel="stylesheet">
</head>
<body>

<div class="localheader">
	<div class="row">
		<div class=" text-center ">
			<img class="header-img" src="iconfinal.png" style="">
			<h2 class="header-text">FOOD AND DRINK</h2>
		</div>
	</div>
<div class="row"></div>
</div>
<div class="container">
	<div class="row">
		<div class="text-center">
			<h3>BEER BUSTER</h3>
		</div>
	</div>
	<div class="row"></div>
	<div class="row">
		<p class="title">DIFFICULTY:</p>
		<p class="element">Easy</p>
	</div>
	<div class="row"></div>
	<div class="row">
		<p class="title">POTENTIAL SAVINGS:</p>
		<p class="element">$60</p>
	</div>
	<div class="row"></div>
	<div class="row">
		<p class="title">DESCRIPTION:</p>
		<p class="element2">Save $20 more on beer.</p>
	</div>
	<div class="row"></div>
	<div class="row">
		<p class="title">TIPS:</p>
		<p class="element2">Drink during happy hours.</p>
		<p class="element2">Buy six packs.</p>
	</div>
	<div class="row"></div>
	<div class="row">
		<button type="button" class="btn btn-danger btn-block">Decline</button>
		<button type="button" class="btn btn-primary btn-block">Accept</button>
	</div>
</div>

<div class='btnbar'>
       
        <button class='navbutton' id='navbutton1'><img src='../static/images/icons_home_dashboard.png'></button>

        <button class='navbutton' id='navbutton2'><img src='../static/images/icons_home_analytics.png'></button>

        <button class='navbutton' id='navbutton3'><img src='../static/images/icons_home_friends.png'></button>

        <button class='navbutton' id='navbutton4'><img src='../static/images/icons_home_challenges.png'></button>

   </div>

<script src="js/interaction.js"></script>

</div>

</div>
</body>
</html>