<!DOCTYPE html>
<meta charset="utf-8" name="viewport" content="initial-scale=1.0, user-scalable=no">
<head>


<link rel="stylesheet" href="static/css/bootstrap.min.css" />
<link rel="stylesheet" href="static/css/fonts.css">
<link rel='stylesheet' href='static/css/style.css'>
<link rel="stylesheet" href="static/css/suggestedchallenges.css" />


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>
<body>


	<div id='challengeslist'>

		<div id='suggestedchallengestitle'>

			<span id='suggestedchallengestitletext'>SUGGESTED CHALLENGES</span>

		</div>
		
		<div class='challengepanel'>

			<span class='challengenumber'>SUGGESTED CHALLENGE 1/5</span><br><br>

			<span class='challengetitle'>Beer Buster</span><br><br>

			<div class='categoryicon'><img src='../static/images/beericonlarge.png'></div><br><br><br><br><br><br>

			<div class='participantstats'>3,110 PARTICIPANTS THIS MONTH</div><br>

			<div class='participantstats'>$873,282 TOTAL SAVED</div><br><br><br>

			<div class='savingsopportunity'>
				
				<span id='useropportunitiestitle'>Your Savings Opportunity:</span><br>

				<span id='useropportunitiesamount'>$74.06 per month</span>

			</div>



		</div>

		<div class='challengepanel'>

		<span class='challengenumber'>SUGGESTED CHALLENGE 2/5</span><br><br>

			<span class='challengetitle'>Boba No!</span><br><br>

			<div class='categoryicon'><img src='../static/images/sodaiconlarge.png'></div><br><br><br><br><br><br>

			<div class='participantstats'>5,392 PARTICIPANTS THIS MONTH</div><br>

			<div class='participantstats'>$1,392,399 TOTAL SAVED</div><br><br><br>

			<div class='savingsopportunity'>
				
				<span id='useropportunitiestitle'>Your Savings Opportunity:</span><br>

				<span id='useropportunitiesamount'>$153.20 per month</span>
			</div>

		</div>

		<div class='challengepanel'>

		<span class='challengenumber'>SUGGESTED CHALLENGE 3/5</span><br><br>

			<span class='challengetitle'>No Shirt March</span><br><br>

			<div class='categoryicon'><img src='../static/images/shirticonlarge.png'></div><br><br><br><br><br><br>

			<div class='participantstats'>10,047 PARTICIPANTS THIS MONTH</div><br>

			<div class='participantstats'>$545,109 TOTAL SAVED</div><br><br><br>

			<div class='savingsopportunity'>
				
				<span id='useropportunitiestitle'>Your Savings Opportunity:</span><br>

				<span id='useropportunitiesamount'>$91.77 per month</span>
			</div>

		</div>

		<div class='challengepanel'>

		<span class='challengenumber'>SUGGESTED CHALLENGE 4/5</span><br><br>

			<span class='challengetitle'>Sans Sushi</span><br><br>

			<div class='categoryicon'><img src='../static/images/sodaiconlarge.png'></div><br><br><br><br><br><br>

			<div class='participantstats'>1,998 PARTICIPANTS THIS MONTH</div><br>

			<div class='participantstats'>$72,206 TOTAL SAVED</div><br><br><br>

			<div class='savingsopportunity'>
				
				<span id='useropportunitiestitle'>Your Savings Opportunity:</span><br>

				<span id='useropportunitiesamount'>$74.99 per month</span>
			</div>

		</div>

		<div class='challengepanel'>

		<span class='challengenumber'>SUGGESTED CHALLENGE 5/5</span><br><br>

			<span class='challengetitle'>Cinema Skip</span><br><br>

			<div class='categoryicon'><img src='../static/images/movieiconlarge.png'></div><br><br><br><br><br><br>

			<div class='participantstats'>10,661 PARTICIPANTS THIS MONTH</div><br>

			<div class='participantstats'>$1,284,008 TOTAL SAVED</div><br><br><br>

			<div class='savingsopportunity'>
				
				<span id='useropportunitiestitle'>Your Savings Opportunity:</span><br>

				<span id='useropportunitiesamount'>$36.35 per month</span>

		</div>

	</div>

    <div class='btnbar'>
        
	    <button class='navbutton' id='navbutton1'>5</button>

	    <button class='navbutton' id='navbutton2'>6</button>

	    <button class='navbutton' id='navbutton3'>7</button>

	    <button class='navbutton' id='navbutton4'>8</button>

    </div>

	<script>
	$(document).ready(function(){
	    
	        $("#challengeslist").scrollTop(300);

	 });
	</script>

	<script src="../static/js/interaction.js"></script>

</body>